<!DOCTYPE html>
<html>
	<head>
		<title>Soul King</title>
		<!-- CSS links -->
	</head>
	<body>
		<h1>SOUL KING 💀🎩🎻🎶🐋</h1>

		<div class="container">
			<form
				id="recommendationForm"
				action="{{url_for('recommend')}}"
				method="POST"
			>
				<label for="playlist-url"
					>Enter playlist URL from Spotify</label
				>

				<input
					type="text"
					id="playlist-url"
					name="playlist-url"
					required
				/>

				<div class="break"></div>
				<br />

				<label for="number-of-recs">Number of tracks</label>

				<select id="number-of-recs" name="number-of-recs">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
				</select>

				<div class="break"></div>
				<br />

				<input
					class="button1"
					value="Get recommendations!"
					type="submit"
				/>
			</form>
		</div>

		<br />

		<div class="container">
			<div class="results">{% block results %} {% endblock %}</div>
		</div>
	</body>
</html>
